/* Error: Undefined mixin.
 *    ,
 * 55 | /     @include generateResponsive() {
 * 56 | |       .m-#{$i}\@#{$breakpointAlias}  { margin: #{$i}px !important; }
 * 57 | |       .mT-#{$i}\@#{$breakpointAlias} { margin-top: #{$i}px !important; }
 * 58 | |       .mR-#{$i}\@#{$breakpointAlias} { margin-right: #{$i}px !important; }
 * 59 | |       .mB-#{$i}\@#{$breakpointAlias} { margin-bottom: #{$i}px !important; }
 * 60 | |       .mL-#{$i}\@#{$breakpointAlias} { margin-left: #{$i}px !important; }
 * 61 | | 
 * 62 | |       .mY-#{$i}\@#{$breakpointAlias} {
 * 63 | |         margin-top: #{$i}px !important;
 * 64 | |         margin-bottom: #{$i}px !important;
 * 65 | |       }
 * 66 | | 
 * 67 | |       .mX-#{$i}\@#{$breakpointAlias} {
 * 68 | |         margin-left: #{$i}px !important;
 * 69 | |         margin-right: #{$i}px !important;
 * 70 | |       }
 * 71 | | 
 * 72 | |       .m-nv-#{$i}\@#{$breakpointAlias}  { margin: -#{$i}px !important; }
 * 73 | |       .mT-nv-#{$i}\@#{$breakpointAlias} { margin-top: -#{$i}px !important; }
 * 74 | |       .mR-nv-#{$i}\@#{$breakpointAlias} { margin-right: -#{$i}px !important; }
 * 75 | |       .mB-nv-#{$i}\@#{$breakpointAlias} { margin-bottom: -#{$i}px !important; }
 * 76 | |       .mL-nv-#{$i}\@#{$breakpointAlias} { margin-left: -#{$i}px !important; }
 * 77 | | 
 * 78 | |       .mY-nv-#{$i}\@#{$breakpointAlias} {
 * 79 | |         margin-top: -#{$i}px !important;
 * 80 | |         margin-bottom: -#{$i}px !important;
 * 81 | |       }
 * 82 | | 
 * 83 | |       .mX-nv-#{$i}\@#{$breakpointAlias} {
 * 84 | |         margin-left: -#{$i}px !important;
 * 85 | |         margin-right: -#{$i}px !important;
 * 86 | |       }
 * 87 | \     }
 *    '
 *   src/public/scss/spec/utils/layout/helpers/margin.scss 55:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 55 \2502  \250c      @include generateResponsive() {\a 56 \2502  \2502        .m-#{$i}\\@#{$breakpointAlias}  { margin: #{$i}px !important; }\a 57 \2502  \2502        .mT-#{$i}\\@#{$breakpointAlias} { margin-top: #{$i}px !important; }\a 58 \2502  \2502        .mR-#{$i}\\@#{$breakpointAlias} { margin-right: #{$i}px !important; }\a 59 \2502  \2502        .mB-#{$i}\\@#{$breakpointAlias} { margin-bottom: #{$i}px !important; }\a 60 \2502  \2502        .mL-#{$i}\\@#{$breakpointAlias} { margin-left: #{$i}px !important; }\a 61 \2502  \2502  \a 62 \2502  \2502        .mY-#{$i}\\@#{$breakpointAlias} {\a 63 \2502  \2502          margin-top: #{$i}px !important;\a 64 \2502  \2502          margin-bottom: #{$i}px !important;\a 65 \2502  \2502        }\a 66 \2502  \2502  \a 67 \2502  \2502        .mX-#{$i}\\@#{$breakpointAlias} {\a 68 \2502  \2502          margin-left: #{$i}px !important;\a 69 \2502  \2502          margin-right: #{$i}px !important;\a 70 \2502  \2502        }\a 71 \2502  \2502  \a 72 \2502  \2502        .m-nv-#{$i}\\@#{$breakpointAlias}  { margin: -#{$i}px !important; }\a 73 \2502  \2502        .mT-nv-#{$i}\\@#{$breakpointAlias} { margin-top: -#{$i}px !important; }\a 74 \2502  \2502        .mR-nv-#{$i}\\@#{$breakpointAlias} { margin-right: -#{$i}px !important; }\a 75 \2502  \2502        .mB-nv-#{$i}\\@#{$breakpointAlias} { margin-bottom: -#{$i}px !important; }\a 76 \2502  \2502        .mL-nv-#{$i}\\@#{$breakpointAlias} { margin-left: -#{$i}px !important; }\a 77 \2502  \2502  \a 78 \2502  \2502        .mY-nv-#{$i}\\@#{$breakpointAlias} {\a 79 \2502  \2502          margin-top: -#{$i}px !important;\a 80 \2502  \2502          margin-bottom: -#{$i}px !important;\a 81 \2502  \2502        }\a 82 \2502  \2502  \a 83 \2502  \2502        .mX-nv-#{$i}\\@#{$breakpointAlias} {\a 84 \2502  \2502          margin-left: -#{$i}px !important;\a 85 \2502  \2502          margin-right: -#{$i}px !important;\a 86 \2502  \2502        }\a 87 \2502  \2514      }\a    \2575 \a   src/public/scss/spec/utils/layout/helpers/margin.scss 55:5  root stylesheet";
}
