/* Error: Undefined mixin.
 *    ,
 * 60 | /     @include generateResponsive() {
 * 61 | |       .gapX-#{$i}\@#{$breakpointAlias} {
 * 62 | |         margin-left: #{($i / -2)}px !important;
 * 63 | |         margin-right: #{($i / -2)}px !important;
 * 64 | | 
 * 65 | |         & > * {
 * 66 | |           padding-left: #{($i / 2)}px !important;
 * 67 | |           padding-right: #{($i / 2)}px !important;
 * 68 | |         }
 * 69 | |       }
 * 70 | | 
 * 71 | |       .gapY-#{$i}\@#{$breakpointAlias} {
 * 72 | |         margin-top: #{($i / -2)}px !important;
 * 73 | |         margin-bottom: #{($i / -2)}px !important;
 * 74 | | 
 * 75 | |         & > * {
 * 76 | |           padding-top: #{($i / 2)}px !important;
 * 77 | |           padding-bottom: #{($i / 2)}px !important;
 * 78 | |         }
 * 79 | |       }
 * 80 | | 
 * 81 | |       .gap-#{$i}\@#{$breakpointAlias} {
 * 82 | |         margin: #{($i / -2)}px !important;
 * 83 | | 
 * 84 | |         & > * {
 * 85 | |           padding: #{($i / 2)}px !important;
 * 86 | |         }
 * 87 | |       }
 * 88 | \     }
 *    '
 *   src/public/scss/spec/utils/layout/utils/gap.scss 60:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 60 \2502  \250c      @include generateResponsive() {\a 61 \2502  \2502        .gapX-#{$i}\\@#{$breakpointAlias} {\a 62 \2502  \2502          margin-left: #{($i / -2)}px !important;\a 63 \2502  \2502          margin-right: #{($i / -2)}px !important;\a 64 \2502  \2502  \a 65 \2502  \2502          & > * {\a 66 \2502  \2502            padding-left: #{($i / 2)}px !important;\a 67 \2502  \2502            padding-right: #{($i / 2)}px !important;\a 68 \2502  \2502          }\a 69 \2502  \2502        }\a 70 \2502  \2502  \a 71 \2502  \2502        .gapY-#{$i}\\@#{$breakpointAlias} {\a 72 \2502  \2502          margin-top: #{($i / -2)}px !important;\a 73 \2502  \2502          margin-bottom: #{($i / -2)}px !important;\a 74 \2502  \2502  \a 75 \2502  \2502          & > * {\a 76 \2502  \2502            padding-top: #{($i / 2)}px !important;\a 77 \2502  \2502            padding-bottom: #{($i / 2)}px !important;\a 78 \2502  \2502          }\a 79 \2502  \2502        }\a 80 \2502  \2502  \a 81 \2502  \2502        .gap-#{$i}\\@#{$breakpointAlias} {\a 82 \2502  \2502          margin: #{($i / -2)}px !important;\a 83 \2502  \2502  \a 84 \2502  \2502          & > * {\a 85 \2502  \2502            padding: #{($i / 2)}px !important;\a 86 \2502  \2502          }\a 87 \2502  \2502        }\a 88 \2502  \2514      }\a    \2575 \a   src/public/scss/spec/utils/layout/utils/gap.scss 60:5  root stylesheet";
}
