/* Error: Undefined variable.
 *    ,
 * 45 | $blue   : $md-blue-500;
 *    |           ^^^^^^^^^^^^
 *    '
 *   src/public/scss/spec/settings/baseColors.scss 45:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 45 \2502  $blue   : $md-blue-500;\a    \2502            ^^^^^^^^^^^^\a    \2575 \a   src/public/scss/spec/settings/baseColors.scss 45:11  root stylesheet";
}
