/* Error: Undefined variable.
 *   ,
 * 9 |   @each $breakpoint in $breakpoints {
 *   |                        ^^^^^^^^^^^^
 *   '
 *   src/public/scss/spec/utils/layout/mixins/generateResponsive.scss 9:24  generateResponsive()
 *   src/public/scss/spec/utils/layout/utils/center.scss 35:3               @import
 *   src/public/scss/spec/utils/layout/utils/index.scss 1:9                 @import
 *   src/public/scss/spec/utils/layout/index.scss 2:9                       @import
 *   src/public/scss/spec/utils/index.scss 1:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502    @each $breakpoint in $breakpoints {\a   \2502                         ^^^^^^^^^^^^\a   \2575 \a   src/public/scss/spec/utils/layout/mixins/generateResponsive.scss 9:24  generateResponsive()\a   src/public/scss/spec/utils/layout/utils/center.scss 35:3               @import\a   src/public/scss/spec/utils/layout/utils/index.scss 1:9                 @import\a   src/public/scss/spec/utils/layout/index.scss 2:9                       @import\a   src/public/scss/spec/utils/index.scss 1:9                              root stylesheet";
}
